.pesawat-gede {
  background-image: url("../assets/paperplane-illus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background: linear-gradient(
    68.74deg,
    rgba(94, 174, 243, 0.6468) 0%,
    rgba(105, 161, 249, 0.6468) 50.33%,
    rgba(18, 89, 248, 0.6048) 95.75%
  );
}

.blue-green {
  background: linear-gradient(356.42deg, #007c96 3.2%, #0099b8 97.33%);
}

.text-blue-green {
  color: #008fac;
}

.bg-biru {
  background: linear-gradient(224.74deg, #30b6be 0.95%, #3ea5d0 91.88%);
}

.unactive {
  color: #b1b1b1;
}

.bg-blue-icon {
  background: #5eaef3;
}

.text-blue-icon {
  color: #5eaef3;
}

.border-blue-icon {
  border-color: #6db4f1fb;
}

.paperAirplaneRed {
  background-image: url("../assets/paperplane-red.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.biru-button {
  background: #1259f8;
}

.w-11persen {
  width: 11%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
